/* 폰트 컬러 */
.txtcolor444 {color: #444}
.txtcolor999 {color: #999}
.txtcolor1 {color: #e73728}
/* 폰트 사이즈 */
.font11 {font-size: 11px}
.font12 {font-size: 12px}
.font13 {font-size: 13px}
.font14 {font-size: 14px}
.font15 {font-size: 15px}
.font16 {font-size: 16px}
.font17 {font-size: 17px}
.font18 {font-size: 18px}
.font19 {font-size: 19px}
.font20 {font-size: 20px}
.font21 {font-size: 21px}
.font22 {font-size: 22px}
.font23 {font-size: 23px}
.font24 {font-size: 24px}
.font25 {font-size: 25px}
.font26 {font-size: 26px}
.font27 {font-size: 27px}
.font28 {font-size: 28px}
.font29 {font-size: 29px}
.font30 {font-size: 30px}
/* 간격 */
.mgt0  {margin-top:0 !important}
.mgt5  {margin-top:5px !important}
.mgt10 {margin-top:10px !important}
.mgt15 {margin-top:15px !important}
.mgt20 {margin-top:20px !important}
.mgt25 {margin-top:25px !important}
.mgt30 {margin-top:30px !important}
.mgt35 {margin-top:35px !important}
.mgt40 {margin-top:40px !important}
.mgt45 {margin-top:45px !important}
.mgt50 {margin-top:50px !important}

.mgl5  {margin-left:5px !important}
.mgl10 {margin-left:10px !important}
.mgl20 {margin-left:20px !important}
.mgl30 {margin-left:30px !important}

.mgr5  {margin-right:5px !important}
.mgr10 {margin-right:10px !important}
.mgr20 {margin-right:20px !important}
.mgr30 {margin-right:30px !important}

.mgb0  {margin-bottom:0 !important;}
.mgb5  {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb35 {margin-bottom:35px !important;}
.mgb40 {margin-bottom:40px !important;}

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}
.pr80 {padding-right:80px !important;}

.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}

.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}

/* jQuery UI ================================================== */
/* datepicker ========== */
.ui-datepicker {display:none; border:1px solid #DDD; border-radius:10px; background-color:#fff; padding:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px;}
.ui-datepicker .ui-datepicker-header {position:relative; text-align:center; margin:0 0 10px 0; border: 0; background: #fff;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {border: 1px solid #999;background-repeat:no-repeat; background-position:50% 50%; position:absolute; width:30px; height:30px; vertical-align:middle; text-indent:-9999em;border-radius: 6px;}
.ui-datepicker .ui-datepicker-prev {left:0; background-image:url('../img/icons/arr_lf_6.png');}
.ui-datepicker .ui-datepicker-next {right:0; background-image:url('../img/icons/arr_rg_6.png');}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {background-image: none; text-indent:-9999rem;}
.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; font-size:1.125rem; text-align:center;}
.ui-datepicker table {width:100%; border-collapse:collapse; font-size:0.8125rem; font-weight:normal; text-align:center;}
.ui-datepicker th {font-family:'Noto Sans KR'; font-weight:normal; padding:.7em .3em; border:0;}
.ui-datepicker td {border:0; padding:5px 0; text-align:center; font-weight:normal;}
.ui-datepicker th:first-child, .ui-datepicker td:first-child {padding-left:0;}
.ui-datepicker th:last-child, .ui-datepicker td:last-child {padding-right:0;}
.ui-datepicker td span, .ui-datepicker td a {display:inline-block; width:30px; height:30px; line-height:30px; cursor:pointer;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border:0; background: #fff;text-align: center;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-state-highlight, .ui-widget-content .ui-state-highlight {border:0; background-color:#00a1c3; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; color:#fff; font-weight:bold;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {opacity:.5; filter:Alpha(Opacity=5);}
.ui-datepicker-trigger {display:inline-block; box-sizing:border-box; border-radius:4px; border:1px solid #DDD; background:#FFF url("../img/icons/calendar.png") no-repeat center center; width:40px; height:40px; margin-left:5px; text-indent:-9999em; vertical-align:middle;}
/* 웹접근성 : 달력 레이어 팝업 2020.10 */
.ui-datepicker .ui-datepicker-title select {font-size: 18px; border:0; padding:0; margin-top: -4px; background:none}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {padding-left: 5px;}
.ui-datepicker-buttonpane {text-align: center}
.ui-datepicker-current {display:none}
.ui-datepicker-close {padding: 0 10px; border-radius: 10px;}

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
  }
  
  .app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
  }
  
  .app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
  }
  .authentication-wrapper .app-brand-text.demo {
    font-size: 2.5rem;
    letter-spacing: -0.5px;
  }

  /* ! For .layout-navbar-fixed added fix padding top to .layout-page */
  /* Detached navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 74px !important;
  }
  /* Default navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
  }
  .docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
  .docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 62px !important;
  }
  
  /* Navbar page z-index issue solution */
  .content-wrapper .navbar {
    z-index: auto;
  }
  
  /*
  * Content
  ******************************************************************************/
  
  .demo-blocks > * {
    display: block !important;
  }
  
  .demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important;
  }
  
  /* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
  .demo-vertical-spacing > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
  }
  
  [dir='rtl'] .rtl-only {
    display: block !important;
  }
  
  /* Dropdown buttons going out of small screens */
  @media (max-width: 576px) {
    #dropdown-variation-demo .btn-group .text-truncate {
      width: 231px;
      position: relative;
    }
    #dropdown-variation-demo .btn-group .text-truncate::after {
      position: absolute;
      top: 45%;
      right: 0.65rem;
    }
  }
  
  /*
  * Layout demo
  ******************************************************************************/
  
  .layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
  }
  .layout-demo-placeholder img {
    width: 900px;
  }
  .layout-demo-info {
    text-align: center;
    margin-top: 1rem;
  }
.table-hover>tbody>tr:hover>* {}
.active>.page-link, .page-link.active {background-color: #192b7d; border-color: #192b7d; color: #fff;}
.page-item:first-child .page-link,
.page-item:last-child .page-link {background-color: rgb(240, 240, 240); border: 0;}
.page-item:not(:first-child) .page-link {}
.table.tblphototype {}
.tbldetail.tblphototype {border: 0}
.tbldetail.tblphototype .tbltit td {font-size: 20px; vertical-align: bottom; word-break:keep-all;}
.tbldetail.tblphototype .tbltit .date {font-size: 15px}
.tbldetail.tblphototype .tbldesc {border-top: 2px solid #555;}
.tbldetail .tbldesc td {border-color: #ccc; font-size: 16px}

.tbllist {border-top: 2px solid #555;}
.tbllist thead .box {}
.tbllist thead .num {}
.tbllist thead .cate {}
.tbllist thead .subject {text-align: center;}
.tbllist thead .info {}
.tbllist thead .info .cate {}
.tbllist thead .info .date {}
.tbllist .box {text-align: center; font-size: 16px}
.tbllist .num {}
.tbllist .cate {}
.tbllist .subject {text-align: left;font-size: 18px;}
.tbllist .info {}
.info .cate {display: none;}
.tbllist .info .date {}
caption {display: none}
.tbldetail .tbltit .box .subject {font-size: 18px;}
.tblinfo thead {border-bottom: 2px solid #555;}
.required, textarea.required {
  background-image: url("../img/common/require.png") !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}
.msg_sound_only, .sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important;
}
.tooltip_icon {
  display: inline-block;
  vertical-align: baseline;
  color: #b3b5b8;
  border: 0;
  font-size: 1.4em;
  background: transparent;
  cursor: pointer;
}
.pwd_desc {padding-top: 5px;font-size: 13px; color: #e73728}
.btn-primary {background-color: #192b7d; border-color: #192b7d;}
/* .btn-primary {background-color: #3c6cdd; border-color: #3c6cdd;} */
.btn-success {background-color: #52b71b;border-color: #52b71b;}
.btn-danger {background-color: #d3361b;border-color: #d3361b;}
.btn-info {background-color: #00a1c3;border-color: #00a1c3;}
.btn-warning {background-color: #e99c00;border-color: #e99c00;}
.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):hover, .pagination li.active > a:not(.page-link):focus {background-color: #3c6cdd;border-color: rgb(44, 116, 224);}
a {color: #002c84;}
.pagination {padding: 10px 0;}
.btnwrap {margin: 20px 0 10px;}
.btnwrap a + a {margin-left: 5px;}
.card-header {display: flex; align-items: center;}
.bg-menu-theme .menu-text {color: #192b7d;}
.card-header {color: #192b7d; font-weight: 600; letter-spacing: -1px;}
.form-label {font-size: 0.9375rem;}
button.btntype {border:0; background: none}
.w70 {width: 70%}
input.ih40 {height: 40px;line-height: 40;padding: 0 10px;border: 1px solid #ddd; border-radius: 5px;}
.attrWrap li:first-child label {display: block !important;}
ol, ul {padding-left: 0;}
.attrWrap li {list-style: none;}