@media screen and (max-width: 768px) {
    section {padding: 40px 0}
    .tbllist thead,
    .tbllist .cate,
    .tbldetail .cate,
    .tbllist .num,
    .tbldetail .num {display: none}
    .tbllist .info .cate,
    .tbldetail .info .cate {display: block; margin-right: 10px;}
    .tbllist .box {text-align: left;}
    .tbllist .info,
    .tbldetail .info {display: flex; margin-top: 10px; font-size: 14px}
    .tbllist .badge,
    .tbldetail .badge {font-size: 13px;}
}