@media screen and (max-width: 768px) {
    section {padding: 40px 0}
    section.pad80 {padding: 80px 0}
    .tbllist thead,
    .tbllist .cate,
    .tbldetail .cate,
    .tbllist .num,
    .tbldetail .num {display: none}
    .tbllist.type2 {width: 350%}
    .tbllist.type2 thead {display: block}
    .tbllist .info .cate,
    .tbldetail .info .cate {display: block; margin-right: 10px;}
    .tbllist .box {text-align: left;}
    .tbllist .info,
    .tbldetail .info {display: flex; margin-top: 10px; font-size: 14px}
    .tbllist .badge,
    .tbldetail .badge {font-size: 13px;}
    .navbar a, .navbar a:focus {font-size: 19px}
    .navbar .dropdown-active a, .navbar .dropdown-active a:focus{font-size: 15px; padding: 10px 20px;}
    .navbar .gnb-r a {font-size: 15px;}
    .sitemaplist .row>* {padding-right: calc(var(--bs-gutter-x)* .5); padding-left: calc(var(--bs-gutter-x)* .5);}
    .contenttab .nav-tabs .nav-item {font-size: 11px;}
    .contenttab .nav-tabs.type1 .nav-item,
    .contenttab .nav-tabs.type1 .nav-item.show .nav-link, .contenttab .nav-tabs.type1 .nav-link.active {font-size: 11px; height: 49px}
    .mobiledisnone {display: none;}
    .infoborder-start {border: 0; padding-top: 10px;}
    .pic_ceo {display: none; width: 30%}

    #about .bar_mid,
    #service .bar_100,
    #features .bar_left,
    #features .bar_right,
    #features .bar_left.type1 {display: none;}
    #about .bar_mid_mo,
    #service .bar_100_mo,
    #features .bar_left_mo,
    #features .bar_right_mo,
    #features .bar_left_mo.type1 {display: block;}
    #about .bar_mid_mo::before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg'); position: absolute; top: -4px; left:-12px;}
    #service .bar_100_mo:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg'); position: absolute; top: -4px; left:0px;}
    #features .bar_left_mo:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg'); position: absolute; top: -4px; left:-12px;}
    #features .bar_right_mo:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_right.jpg'); position: absolute; top: -4px; left:12px;}
    #features .bar_left_mo:before.type1 {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg'); position: absolute; top: -4px; left:0;}
    
    .organization_wrap .chart_top .group,
    .organization_wrap .chart_bottom .group,
    .organization_wrap .chart_middle > ul {flex-direction: column; width: 100%; margin-top: 0;}
    .organization_wrap .chart_middle {margin: 50px 0;}
    .organization_wrap .chart_middle > ul > li:first-child {margin-bottom: 50px;}
    .organization_wrap .chart_top .group li,
    .organization_wrap .chart_bottom .group li {width:100%; margin-top: 30px; display: flex; justify-content: center;}
    .organization_wrap .chart_top .group li.last,
    .organization_wrap .chart_bottom .group li.last {width: 100%; justify-content: center;}
    .organization_wrap .chart_middle > ul > li {margin: 0 30px}
    .organization_wrap .chart_top .group {margin-left: 0;}
    .organization_wrap .chart_top .group li:nth-child(2) {margin-left: 0px;}
    .organization_wrap .group > .left::before,
    .organization_wrap .group > .left:last-child::before,
    .organization_wrap .group > .right::before,
    .organization_wrap .leftline::before,
    .organization_wrap .rightline::before {display: none;}
 
    .intro2imggap .intro2_txt {font-size: 20px; font-weight: 600; color: #fff; position: absolute; top: 50%; margin-top: -15px; left: 50%; margin-left: -169px;}
    .wrap_iconmsgsend {padding-top: 5px;text-align: right;}
    .wrap_iconmsgsend .txt,
    .infotype2 {padding-top: 5px;}

    .statuscircle {position: relative; width: 110px; height: 110px; margin: 10px 0; padding: 35px 10px; text-align: center; border: 8px solid #bdbdbd; border-radius: 100px; font-size: 15px; font-weight: 600; color: #999}
    /* .statuscircle.done {color: #192b7d; border-color: #192b7d;}
    .statuscircle.ing {color: #e73728; border-color: #e73728; font-size: 18px; padding: 28px 10px;}
    .statuscircle.wait {color: #999; border-color: #bdbdbd;} */
    .statuscircle.ing {padding: 28px 10px;}
    .bizstatus {width: 100%;}
    .bizstatus ul {display: flex;flex-wrap: wrap;}
    .bizstatus li {position: relative; padding-left: 50px;}
    .bizstatus li:first-child {padding: 0;}
    .bizstatus li:first-child::before {display: none;}
    .bizstatus li::before {content:''; display: block; width: 18px; position: absolute; top: 50%; left: 15px; margin-top: -15px;}
    /* 회원가입 순서 */
    .memberjoin {width: 100%;}
    .memberjoin ul {display: flex;flex-wrap: wrap;}
    .memberjoin li {position: relative; padding-left: 35px;}
    .memberjoin li:first-child {padding: 0;}
    .memberjoin li:first-child::before {display: none;}
    .memberjoin li::before {content:''; display: block; width: 18px; position: absolute; top: 50%; left: 10px; margin-top: -15px;}
    .memberjoin .statuscircle.ing,
    .memberjoin .statuscircle {width: 106px; height: 106px; padding: 35px 10px; font-size: 18px}
    .memberjoin li .step {top: 20px; font-size: 12px; margin-left: -20px;}

    .bizdirection .box.type2 {line-height: 30px;}
    .bizdirection .box4.type2 .txt {height: 100px; font-size: 20px;}
    .bizlist ul.boxh1 {height: auto}
    .bizdirection .box {height: auto; padding: 20px; line-height: 50px; word-break: keep-all}
    .bizdirection .box4.type2 .txt {width: 100%}
    .bizdirection .box4.type3 ul {width: 100%; height: auto;}
}