.call-to-action {background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url(../img/common/img_center.jpg) center center;
    background-size: cover;
    padding: 100px 0;}
.footer .footer-links ul a {color: rgba(255, 255, 255, 0.95);}
.footer .footer-links ul li {padding: 5px 0;}
.services .card {border-radius: 30px}
.round30 {border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
.navbar {}
.navbar a, .navbar a:focus {color: rgba(255, 255, 255, 0.95);}
.hero .stats-item span:after {background: white;}
.hero .info h2:after,
.section-header h2:after,
.section-header h2:before {display: none}
.hero form .form-control {padding: 12px 20px 14px;}
.hero .info h2 {margin-bottom: 0;}
.hero {color: #fff}
.sns_top a {color: #fff}
.bar_top {display: block; position: absolute; top: 55px; left: 50%; margin-left: -960px; width: 1920px; height: 2px; z-index: 2;}
.bar_top:before {content:''; display: block; width: 100%; height: 2px; background: url('../img/common/bar_top.png');}
.bar_mid {display: block; position: absolute; top: 78px; left: 50%; margin-left: -960px; width: 1920px; height: 4px; z-index: 2;}
.bar_mid:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_mid.png');}
.bar_100 {display: block; position: absolute; top: 158px; left: 50%; margin-left: -960px; width: 1920px; height: 4px; z-index: 2;}
.bar_100:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_100.jpg');}
.bar_left {display: block; position: absolute; top: 80px; left: 50%; margin-left: -960px; width: 838px; height: 4px; z-index: 2;}
.bar_left:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg');}
.bar_left.type1 {top: 1020px; left: 50%; margin-left: -960px;}
.bar_right {display: block; position: absolute; top: 548px; right: 50%; margin-right: -960px; width: 838px; height: 4px; z-index: 2;}
.bar_right:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_right.jpg');}
.order-lg-first h3.position-absolute {top: -50px}
#service {padding-top: 0;}
.txtcolor4 {color: #33bac5}
.txtcolor5 {color: #192b7d}
.txtcolor6 {color: #e73728}
.hero .carousel-item::before {background-color: rgba(0, 0, 0, 0.1);}
.font8 {font-size: 8px}
.font9 {font-size: 9px}
.font10 {font-size: 10px}
.font11 {font-size: 11px}
.font12 {font-size: 12px}
.font13 {font-size: 13px}
.font14 {font-size: 14px !important}
.font15 {font-size: 15px}
.font16 {font-size: 16px}
.font17 {font-size: 17px}
.font18 {font-size: 18px}
.font19 {font-size: 19px}
.font20 {font-size: 20px}
.font21 {font-size: 21px}
.font22 {font-size: 22px}
.font23 {font-size: 23px}
.font24 {font-size: 24px}
.font25 {font-size: 25px}
.font26 {font-size: 26px}
.font27 {font-size: 27px}
.font28 {font-size: 28px}
.font29 {font-size: 29px}
.font30 {font-size: 30px}
.font31 {font-size: 31px}
.font32 {font-size: 32px}
.font33 {font-size: 33px}
.font34 {font-size: 34px}
.font35 {font-size: 35px}
.txtarea {padding:21px 32px; overflow-y:scroll; height:230px; line-height:1.6; font-size:16px; border:1px solid #dee2e6; border-radius: 10px; background-color:#fff;}

.logoSwiper {width: 100%;}
.logoSwiper .swiper-slide {display: inline-block; width: 25%;}
.logoSwiper .swiper-slide a {display: block;}
.logoSwiper .swiper-slide a img {width: 100%;}

@media screen and (max-width: 768px) {
    .bar_top {display: none;}
    .header {position: fixed;}
    /* .hero {padding: 180px;} */
    .hero .info {position: relative; padding: 0 10px}
    .hero .carousel {position: absolute; top:0;min-height: 132vh;}
    .logo {padding-left: 10px;}
    .hero form .form-control {padding: 0 10px}
    #hero img {width:100%}
    .visual-wrap {margin-top: 120px;}
    .navbar a {justify-content: initial;}
    .navbar ul {}
    .navbar .container > .row > .col.ps-5 > ul {padding-top: 100px;}
    .navbar .container > .row > .col.gnb-r .justify-content-end {display: flex; width: 100%; height: 70px; padding-top: 10px; margin-top: 40px;;}
    .navbar .container > .row > .col.gnb-r .justify-content-end li {list-style-type: none;}
    .num-title img {width: 100%}
    #about .num-title img,
    #service .num-title img {width:60%}
    #about .bar_mid {width: 100%; top: 8%; margin-left: -47%;}
    #service .bar_100 {width: 100%; top: 4.6%; margin-left: -47%;}
    #features .bar_left {width: 100%; top: 3.2%; margin-left: -53%;}
    #features .bar_right {width: 100%; top: 35.1%; margin-right: -53%;}
    #features .bar_left.type1 {top:67.3%; margin-left: -53%;}
    .footer {padding: 0 5px;}
    .navbar .container > .row > .col.ps-5 a i, .navbar .container > .row > .col.ps-5  a:focus i {position: absolute; right: 30px}
  }
  
/* content */
.tbllist thead th {padding: 10px 20px; text-align: center; font-size: 14px; color: #999; border-top: 2px solid #555}
.tbllist.type2 thead th {color: #222; background: #eee}
.tbllist th {padding: 18px 20px; font-size: 14px; color: #999; line-height: 24px; text-align: center; vertical-align: middle;}
.tbllist.type2 th {color: #222}
.tbllist td {padding: 18px 20px; font-size: 14px; color: #222; line-height: 24px; vertical-align: middle;}
.tbllist td a {color: #222}
.btn + .btn {margin-left: 5px;}
.tbldetail {border-top: 2px solid #555;}
.tbldetail .tbltit {padding: 18px 20px; font-size: 14px; color: #222; line-height: 24px;}
.tbldetail .tbldesc {padding: 28px 20px; font-size: 14px; color: #555; line-height: 24px;}
.tbldetail .thumimg img {width: 100%}
.imgbbs .tit {font-weight: 700; font-size: 18px; color: #001973;}
.imgbbs .card-text {font-size: 14px}

/* 
컬러값
red: #e73728
blue: #192b7d
sky: #33bac5
*/
.bg-gradient-primary {background-image: linear-gradient(195deg, #85dce3 0%, #20c5d4 100%); color: #fff;}
.bg-gradient-secondary {background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%); color: #fff;}
.bg-gradient-info {background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%); color: #fff;}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: #192b7d;
  border-color: #192b7d;
  box-shadow: 0 14px 26px -12px rgba(40, 30, 233, 0.4), 0 4px 23px 0 rgba(33, 30, 233, 0.15), 0 8px 10px -5px rgba(30, 33, 233, 0.2);
}

.btn-primary .btn.bg-outline-primary,
.btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #192b7d;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#192b7d);
  background-color: #192b7d;
}

.btn-primary.focus,
.btn-primary:focus,
.btn.bg-gradient-primary.focus,
.btn.bg-gradient-primary:focus {
  color: #fff;
}

.btn-outline-primary {
  box-shadow: none;
}

.btn-outline-primary:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #192b7d;
}

.btn-secondary,
.btn.bg-gradient-secondary {
  box-shadow: 0 3px 3px 0 rgba(123, 128, 154, 0.15), 0 3px 1px -2px rgba(123, 128, 154, 0.2), 0 1px 5px 0 rgba(123, 128, 154, 0.15);
}

.btn-secondary:hover,
.btn.bg-gradient-secondary:hover {
  background-color: #7b809a;
  border-color: #7b809a;
  box-shadow: 0 14px 26px -12px rgba(123, 128, 154, 0.4), 0 4px 23px 0 rgba(123, 128, 154, 0.15), 0 8px 10px -5px rgba(123, 128, 154, 0.2);
}

.btn-secondary .btn.bg-outline-secondary,
.btn.bg-gradient-secondary .btn.bg-outline-secondary {
  border: 1px solid #7b809a;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle,
.btn.bg-gradient-secondary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-secondary:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-secondary.dropdown-toggle {
  color: color-yiq(#7b809a);
  background-color: #7b809a;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn.bg-gradient-secondary.focus,
.btn.bg-gradient-secondary:focus {
  color: #fff;
}

.btn-outline-secondary {
  box-shadow: none;
}

.btn-outline-secondary:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #7b809a;
}

.btn-success,
.btn.bg-gradient-success {
  box-shadow: 0 3px 3px 0 rgba(76, 175, 80, 0.15), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.15);
}

.btn-success:hover,
.btn.bg-gradient-success:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.4), 0 4px 23px 0 rgba(76, 175, 80, 0.15), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-success .btn.bg-outline-success,
.btn.bg-gradient-success .btn.bg-outline-success {
  border: 1px solid #4CAF50;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn.bg-gradient-success:not(:disabled):not(.disabled).active,
.btn.bg-gradient-success:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-success.dropdown-toggle {
  color: color-yiq(#4CAF50);
  background-color: #4CAF50;
}

.btn-success.focus,
.btn-success:focus,
.btn.bg-gradient-success.focus,
.btn.bg-gradient-success:focus {
  color: #fff;
}

.btn-outline-success {
  box-shadow: none;
}

.btn-outline-success:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #4CAF50;
}

.btn-info,
.btn.bg-gradient-info {
  box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15), 0 3px 1px -2px rgba(26, 115, 232, 0.2), 0 1px 5px 0 rgba(26, 115, 232, 0.15);
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  background-color: #1A73E8;
  border-color: #1A73E8;
  box-shadow: 0 14px 26px -12px rgba(26, 115, 232, 0.4), 0 4px 23px 0 rgba(26, 115, 232, 0.15), 0 8px 10px -5px rgba(26, 115, 232, 0.2);
}

.btn-info .btn.bg-outline-info,
.btn.bg-gradient-info .btn.bg-outline-info {
  border: 1px solid #1A73E8;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle,
.btn.bg-gradient-info:not(:disabled):not(.disabled).active,
.btn.bg-gradient-info:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-info.dropdown-toggle {
  color: color-yiq(#1A73E8);
  background-color: #1A73E8;
}

.btn-info.focus,
.btn-info:focus,
.btn.bg-gradient-info.focus,
.btn.bg-gradient-info:focus {
  color: #fff;
}

.btn-outline-info {
  box-shadow: none;
}

.btn-outline-info:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #1A73E8;
}

.btn-warning,
.btn.bg-gradient-warning {
  box-shadow: 0 3px 3px 0 rgba(251, 140, 0, 0.15), 0 3px 1px -2px rgba(251, 140, 0, 0.2), 0 1px 5px 0 rgba(251, 140, 0, 0.15);
}

.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00;
  box-shadow: 0 14px 26px -12px rgba(251, 140, 0, 0.4), 0 4px 23px 0 rgba(251, 140, 0, 0.15), 0 8px 10px -5px rgba(251, 140, 0, 0.2);
}

.btn-warning .btn.bg-outline-warning,
.btn.bg-gradient-warning .btn.bg-outline-warning {
  border: 1px solid #fb8c00;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle,
.btn.bg-gradient-warning:not(:disabled):not(.disabled).active,
.btn.bg-gradient-warning:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-warning.dropdown-toggle {
  color: color-yiq(#fb8c00);
  background-color: #fb8c00;
}

.btn-warning.focus,
.btn-warning:focus,
.btn.bg-gradient-warning.focus,
.btn.bg-gradient-warning:focus {
  color: #fff;
}

.btn-outline-warning {
  box-shadow: none;
}

.btn-outline-warning:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #fb8c00;
}

.btn-danger,
.btn.bg-gradient-danger {
  box-shadow: 0 3px 3px 0 rgba(244, 67, 53, 0.15), 0 3px 1px -2px rgba(244, 67, 53, 0.2), 0 1px 5px 0 rgba(244, 67, 53, 0.15);
}

.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  background-color: #F44335;
  border-color: #F44335;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 53, 0.4), 0 4px 23px 0 rgba(244, 67, 53, 0.15), 0 8px 10px -5px rgba(244, 67, 53, 0.2);
}

.btn-danger .btn.bg-outline-danger,
.btn.bg-gradient-danger .btn.bg-outline-danger {
  border: 1px solid #F44335;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle,
.btn.bg-gradient-danger:not(:disabled):not(.disabled).active,
.btn.bg-gradient-danger:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-danger.dropdown-toggle {
  color: color-yiq(#F44335);
  background-color: #F44335;
}

.btn-danger.focus,
.btn-danger:focus,
.btn.bg-gradient-danger.focus,
.btn.bg-gradient-danger:focus {
  color: #fff;
}

.btn-outline-danger {
  box-shadow: none;
}

.btn-outline-danger:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #F44335;
}

.btn-light,
.btn.bg-gradient-light {
  box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2), 0 1px 5px 0 rgba(240, 242, 245, 0.15);
}

.btn-light:hover,
.btn.bg-gradient-light:hover {
  background-color: #f0f2f5;
  border-color: #f0f2f5;
  box-shadow: 0 14px 26px -12px rgba(240, 242, 245, 0.4), 0 4px 23px 0 rgba(240, 242, 245, 0.15), 0 8px 10px -5px rgba(240, 242, 245, 0.2);
}

.btn-light .btn.bg-outline-light,
.btn.bg-gradient-light .btn.bg-outline-light {
  border: 1px solid #f0f2f5;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle,
.btn.bg-gradient-light:not(:disabled):not(.disabled).active,
.btn.bg-gradient-light:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-light.dropdown-toggle {
  color: color-yiq(#f0f2f5);
  background-color: #f0f2f5;
}

.btn-outline-light {
  box-shadow: none;
}

.btn-outline-light:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #f0f2f5;
}

.btn-dark,
.btn.bg-gradient-dark {
  box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
  background-color: #344767;
  border-color: #344767;
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.btn-dark .btn.bg-outline-dark,
.btn.bg-gradient-dark .btn.bg-outline-dark {
  border: 1px solid #344767;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark.dropdown-toggle {
  color: color-yiq(#344767);
  background-color: #344767;
}

.btn-dark.focus,
.btn-dark:focus,
.btn.bg-gradient-dark.focus,
.btn.bg-gradient-dark:focus {
  color: #fff;
}

.btn-outline-dark {
  box-shadow: none;
}

.btn-outline-dark:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #344767;
}

.btn-white,
.btn.bg-gradient-white {
  box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.15), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.15);
}

.btn-white:hover,
.btn.bg-gradient-white:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.4), 0 4px 23px 0 rgba(255, 255, 255, 0.15), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.btn-white .btn.bg-outline-white,
.btn.bg-gradient-white .btn.bg-outline-white {
  border: 1px solid #fff;
}

.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active,
.show>.btn-white.dropdown-toggle,
.btn.bg-gradient-white:not(:disabled):not(.disabled).active,
.btn.bg-gradient-white:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-white.dropdown-toggle {
  color: color-yiq(#fff);
  background-color: #fff;
}

.btn-outline-white {
  box-shadow: none;
}

.btn-outline-white:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #fff;
}

.btn-dark-blue,
.btn.bg-gradient-dark-blue {
  box-shadow: 0 3px 3px 0 rgba(26, 35, 126, 0.15), 0 3px 1px -2px rgba(26, 35, 126, 0.2), 0 1px 5px 0 rgba(26, 35, 126, 0.15);
}

.btn-dark-blue:hover,
.btn.bg-gradient-dark-blue:hover {
  background-color: #1A237E;
  border-color: #1A237E;
  box-shadow: 0 14px 26px -12px rgba(26, 35, 126, 0.4), 0 4px 23px 0 rgba(26, 35, 126, 0.15), 0 8px 10px -5px rgba(26, 35, 126, 0.2);
}

.btn-dark-blue .btn.bg-outline-dark-blue,
.btn.bg-gradient-dark-blue .btn.bg-outline-dark-blue {
  border: 1px solid #1A237E;
}

.btn-dark-blue:not(:disabled):not(.disabled).active,
.btn-dark-blue:not(:disabled):not(.disabled):active,
.show>.btn-dark-blue.dropdown-toggle,
.btn.bg-gradient-dark-blue:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark-blue:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark-blue.dropdown-toggle {
  color: color-yiq(#1A237E);
  background-color: #1A237E;
}

.btn-dark-blue.focus,
.btn-dark-blue:focus,
.btn.bg-gradient-dark-blue.focus,
.btn.bg-gradient-dark-blue:focus {
  color: #fff;
}

.btn-outline-dark-blue {
  box-shadow: none;
}

.btn-outline-dark-blue:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #1A237E;
}

.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
}

.btn-primary,
.btn.bg-gradient-primary {
  color: #fff;
  background-color: #192b7d;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  color: #fff;
}

.btn-secondary,
.btn.bg-gradient-secondary {
  color: #fff;
}

.btn-secondary:hover,
.btn.bg-gradient-secondary:hover {
  color: #fff;
}

.btn-danger,
.btn.bg-gradient-danger {
  color: #fff;
}

.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  color: #fff;
}

.btn-info,
.btn.bg-gradient-info {
  color: #fff;
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  color: #fff;
}

.btn-success,
.btn.bg-gradient-success {
  color: #fff;
}

.btn-success:hover,
.btn.bg-gradient-success:hover {
  color: #fff;
}

.btn-warning,
.btn.bg-gradient-warning {
  color: #fff;
}

.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  color: #fff;
}

.btn-dark,
.btn.bg-gradient-dark {
  color: #fff;
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
  color: #fff;
}

.btn-light,
.btn.bg-gradient-light {
  color: #3A416F;
}

.btn-light:hover,
.btn.bg-gradient-light:hover {
  color: #3A416F;
}

.accordion-item .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);}
.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion-button:not(.collapsed) {background-color: #fff;}
.accordion-body .desc {padding: 0px 20px 20px 20px; margin: 0; background-color: #f9f9f9; border-radius: 8px; line-height: 2.0;}
.faq-txtq, 
.faq-txta {padding-right: 8px;font-size: 2.2rem}
.faq-txtq {color: #ccc}
.faq-txtq.type1 {display: inline-block; width:40px; height: 40px; line-height:35px; text-align: center; font-size: 18px; color: #fff; background-color: #192b7d; padding: 2px 7px; margin-right: 5px; border-radius: 50%;}
.accordion-button:not(.collapsed) .faq-txtq {color: #192b7d}
.accordion-button:not(.collapsed) .accordion-button::after {color: #fff}
.faq-txta {color: #e73728}
.fa.fa-question-circle {margin-right: 5px; color: #33bac5}
.fa.fa-reply.icon {margin: 0 5px 0 30px; color: #e73728}
.fa.fa-reply.icon.type1 {color: #192b7d}
.fa {font-size: 12px;}
.fa.fa-reply.icon:before {padding-right: 5px;}
.album .card {border-color: #eee}
.badge {font-size: 13px;}
.bg-primary {
  background-color: #192b7d !important;
}
.bg-outline-primary {
  background-color: #fff;
  border: 1px solid #192b7d;
  color: #192b7d;
}
.bg-secondary {
  background-color: #33bac5 !important;
}
.bg-outline-secondary {
  background-color: #fff;
  border: 1px solid #33bac5;
  color: #33bac5;
}
.bg-warning {
  background-color: #e73728 !important;
}
.bg-outline-warning {
  background-color: #fff;
  border: 1px solid #e73728;
  color: #e73728;
}
.page-link {}
.page-item .page-link, .page-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b809a;
  padding: 0;
  margin: 0 3px;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-size: .875rem;
}
.table-hover>tbody>tr:hover>* {}
.active>.page-link, .page-link.active {background-color: #192b7d; border-color: #192b7d; color: #fff;}
.page-item:first-child .page-link,
.page-item:last-child .page-link {background-color: rgb(240, 240, 240); border: 0;}
.page-item:not(:first-child) .page-link {}
.table.tblphototype {}
.tbldetail.tblphototype {border: 0}
.tbldetail.tblphototype .tbltit td {font-size: 20px; vertical-align: bottom; word-break:keep-all;}
.tbldetail.tblphototype .tbltit .date {font-size: 15px}
.tbldetail.tblphototype .tbldesc {border-top: 2px solid #555;}
.tbldetail .tbldesc td {border-color: #ccc; font-size: 16px}

.tbllist {border-top: 2px solid #555;}
.tbllist thead .box {}
.tbllist thead .num {}
.tbllist thead .cate {}
.tbllist thead .subject {text-align: center;}
.tbllist thead .info {}
.tbllist thead .info .cate {}
.tbllist thead .info .date {}
.tbllist .box {text-align: center; font-size: 16px}
.tbllist .num {}
.tbllist .cate {}
.tbllist .subject {text-align: left;font-size: 18px;}
.tbllist .info {}
.info .cate {display: none;}
.tbllist .info .date {}
caption {display: none}
.tbldetail .tbltit .box .subject {font-size: 18px;}
.tblinfo thead {border-bottom: 2px solid #555;}
.tblinfo.type1 tbody {border-top: 1px solid #555;}
.required, textarea.required {
  background-image: url("../img/common/require.png") !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}
.msg_sound_only, .sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important;
}
.tooltip_icon {
  display: inline-block;
  vertical-align: baseline;
  color: #b3b5b8;
  border: 0;
  font-size: 1.4em;
  background: transparent;
  cursor: pointer;
}
#captcha #captcha_mp3 {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/common/captcha2.png") no-repeat;
  text-indent: -999px;
  border-radius: 3px;
}
#captcha #captcha_reload {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/common/captcha2.png") no-repeat 0 -40px;
  text-indent: -999px;
  border-radius: 3px;
}
.donemsg {}
.donemsg .tit {padding: 15px; font-size: calc(1.375rem + 1.2vw); line-height: 1.4; color: #e73728;}
.donemsg .desc {margin: 0;}
.doneinfo {padding: 20px; margin-top: 20px; background-color: #f8f9fa; border-radius: 10px;}
.doneinfo ul {margin: 0;}
.doneinfo li {}
.breadcrumbs nav {padding: 14px 0; background-color: #2ac8d5;}
.breadcrumbs nav ol {}
.breadcrumbs nav ol a,
.breadcrumbs nav ol li+li {color: #fff; font-weight: bold}
.breadcrumbs nav ol li+li::before {padding-right: 5px; color: #fff; font-weight: 100;}
.breadcrumbs nav ol li+li {padding-left: 7px; letter-spacing: -1px;}
.breadcrumbs nav ol li:first-child {position: relative;}
.breadcrumbs nav ol li:first-child::before {content:'';position: absolute; left: 0; top: 5px; width: 16px; height:14px; background: url('../img/common/icon_homelocation.png') 0 0 no-repeat; background-size: 100%;}
.breadcrumbs nav ol li:first-child a {padding-left: 20px;}
.icon_homeheader {display: inline-block; width: 15px; height:13px; margin-right: 3px; background: url('../img/common/icon_homelocation.png') 0 0 no-repeat; background-size: 100%;}
.services .card a.stretched-link {font-weight: 700;}
.breadcrumbs .page-header h2 {font-size: 38px}
.breadcrumbs .page-header:before {background-color: rgba(0, 0, 0, 0.75);}
.header-subtit {display: inline-block; padding: 7px 40px 3px; margin-bottom: 10px; border: 2px solid #fff; border-radius: 50px; letter-spacing: -2px;}
.content-subtit {display: inline-block; padding: 8px 20px; color: #fff; font-size: 18px; font-weight: bold; border-radius: 50px; background-color: #33bac5; letter-spacing: -2px;}
.sub_subjecttit {padding-bottom: 50px;font-size: 36px; font-weight: 900; color: #2ac8d4; letter-spacing: -2px;}
.sub_subjecttit.pink {color: #fc7e74}
.txtpink {color: #f06155}
.txtgray7 {color: #777}
.txtgray9 {color: #999}
.sub_subjecttit.aquablue {color: #2ac8d4}
.txtaquablue {color: #33bac5}
.bg_aquablue {background: #2ac8d4;}
.sitemaplist .row>* {padding-left: 2px; padding-right: 2px;}
.sitemaplist .tit {padding: 12px 0; margin-bottom: 5px; background: #192b7d; border-radius: 8px; text-align: center; font-size: 18px; font-weight: 900; color: #fff;}
.sitemaplist ul {padding: 10px 20px; background: #ebebeb; border-radius: 8px;}
.sitemaplist ul li {list-style: none;}
.sitemaplist ul li a {display: block; color: #000; font-size: 15px; font-weight: bold; padding: 5px 0;}
.contenttab {}
.contenttab .nav-tabs {border: 0;}
.contenttab .nav-tabs .nav-item {width: 20%; text-align: center; background: #dddcdc; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.contenttab .nav-tabs .nav-item a {color: #b1aeae; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.contenttab .nav-tabs .nav-item.show .nav-link, .contenttab .nav-tabs .nav-link.active {background: #fc7e74; color: #fff; border: 0; border-top-left-radius: 0; border-top-right-radius: 0;}
.contenttab .nav-tabs .nav-link {}
.pic_ceo {}
.pic_ceo img {border-radius: 40px;}
.greeting {letter-spacing: -1px;}
.greeting .ceoname {padding-left: 5px;font-size: 22px;}
.sub_txt1 {}
.intro2imggap {padding: 50px 0}
.intro3imggap {padding: 50px 0}
.mobiledisnone {display: block;}
.bizlist {padding: 40px 0;}
.bizlist .tit {padding: 12px 0; margin: 0; background: #2ac8d5; border-top-left-radius: 8px; border-top-right-radius: 8px; text-align: center; font-size: 18px; font-weight: bold; color: #fff;}
.bizlist ul {padding: 10px 20px; background: #dbd9d8; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.bizlist ul li {list-style: none;color: #000; font-size: 13px; padding: 2px 0;}
.bizlist ul ul {padding: 5px; background: transparent;}
.bizlist ul.boxh1 {height: 250px}
.btn-login,
.btn-login:hover,
.btn-login:focus {background-color: #f06155; color: #fff;}
.txt_login1 {font-size: 15px; color: #555; letter-spacing: -1px;}
.placehoder_graytxt::placeholder {color: #eee; font-size: 15px;}
.letterspace-1 {letter-spacing: -1px;}
.letterspace-2 {letter-spacing: -2px;}
.box_txt20 {padding: 20px; border: 1px solid #e4e4e4; border-radius: 15px;}
.box_20gray {padding: 20px; border: 1px solid #dbdbdb; border-radius: 15px; background-color: #fafafa;}
.btnmembership {padding: 15px 50px;}
.btn-aquablue {background-color: #2ac8d4; color: #fff}
.btn-aquablue:hover,
.btn.bg-gradient-aquablue:hover {
  background-color: #2ac8d4;
  border-color: #21aab4; color: #fff;
  box-shadow: 0 14px 26px -12px rgba(30, 203, 233, 0.4), 0 4px 23px 0 rgba(30, 209, 233, 0.15), 0 8px 10px -5px rgba(30, 230, 233, 0.2);
}

.btn-aquablue .btn.bg-outline-aquablue,
.btn.bg-gradient-aquablue .btn.bg-outline-aquablue {
  border: 1px solid #21aab4;
}
.btn-aquablue:not(:disabled):not(.disabled).active,
.btn-aquablue:not(:disabled):not(.disabled):active,
.show>.btn-aquablue.dropdown-toggle,
.btn.bg-gradient-aquablue:not(:disabled):not(.disabled).active,
.btn.bg-gradient-aquablue:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-aquablue.dropdown-toggle {
  color: #fff;
  background-color: #2ac8d4;
}

.btn-aquablue.focus,
.btn-aquablue:focus,
.btn.bg-gradient-aquablue.focus,
.btn.bg-gradient-aquablue:focus {
  color: #fff;
}
.icon_join1 {display: inline-block; width: 46px; height: 46px; background: url('../img/common/icon_join1.png') 0 0 no-repeat; background-size: 100%;}
.icon_join2 {display: inline-block; width: 46px; height: 46px; background: url('../img/common/icon_join2.png') 0 0 no-repeat; background-size: 100%;}
.iconbox {position: relative; padding-left: 55px;}
.iconbox.iconjoin1:before {content:''; position: absolute; left:0; top: 50%; margin-top: -28px; display: block; width: 46px; height: 46px; background: url('../img/common/icon_join1.png') 0 0 no-repeat; background-size: 100%;}
.iconbox.iconjoin2:before {content:''; position: absolute; left:0; top: 50%; margin-top: -28px; display: block; width: 46px; height: 46px; background: url('../img/common/icon_join2.png') 0 0 no-repeat; background-size: 100%;}
.infoborder-start {border-left: 1px dashed #dcdcdc;}
#about .bar_mid_mo {display: none}
/* 조직도 */
.hidden {display: none}
.organization_wrap {position: relative;}
.organization_wrap .redcircle {width: 160px; padding: 57px 0; display: block; text-align: center; line-height: 1.5; border-radius: 50%; border: 8px solid #ff8989; background-color: #ffffff; font-size: 20px; font-weight: 600; color: #ff8989}
.organization_wrap .bluecircle {width: 290px; padding: 90px 0; display: block; text-align: center; line-height: 1.5; border-radius: 50%; border: 16px solid #6282d7; background-color: #ffffff; font-size: 26px; font-weight: 600; color: #6282d7}
.organization_wrap .chart_top .first { display: block;  border-radius: 50%; width: 258px; padding: 5px 0; line-height: 1.5; font-weight: 600; letter-spacing: 2px; margin:0 auto; background-color: #fff; border: 1px solid #ff8989; color: #ff8989; font-size: 26px;}
.organization_wrap .chart_top .first .inner_circle {display: block;  border-radius: 50%; width: 245px; padding: 87px 0;margin:0 auto; background-color: #fff; border: 16px solid #ff8989; color: #ff8989;}
.organization_wrap .chart_top .group {display: flex; justify-content: space-evenly; width: 80%; margin-top: -200px; margin-left: 80px;}
.organization_wrap .chart_top .group li {display: flex; justify-content: center; width: 25%;}
.organization_wrap .chart_top .group li:nth-child(2) {margin-left: -100px;}
.organization_wrap .chart_top .group li.last {justify-content: right; width: 50%;}
.organization_wrap .group > li {position: relative;}
.organization_wrap .chart_middle {margin: 100px 0 50px;}
.organization_wrap .chart_middle > ul {display: flex; justify-content: center;}
.organization_wrap .chart_middle > ul > li {margin: 0 130px;}
.organization_wrap .chart_middle > ul .first {display: block; margin-bottom: 20px; padding: 10px 40px; background-color: #6282d7; color: #fff; font-size: 22px; border-radius: 10px; text-align: center;}
.organization_wrap .chart_middle > ul .group {}
.organization_wrap .chart_middle > ul .group li {margin-top: 5px;}
.organization_wrap .chart_middle > ul .group li .graybox {display:block; width: 100%; padding: 5px 50px; background-color: #b2b2b2; color: #fff; font-size: 18px; border-radius: 5px; text-align: center;}
.organization_wrap .chart_bottom {margin-bottom: 80px;}
.organization_wrap .chart_bottom .group {display: flex; justify-content: center;}
.organization_wrap .chart_bottom .group li {padding: 0 30px}
.organization_wrap .leftline,
.organization_wrap .rightline {position: relative;}
/* 조직도 라인 */
.organization_wrap .chart_top .first::before { content: ""; background-color: #999; height: 70.0%; padding: 0.1px; position: absolute; z-index: -9999; right: 50%;}
.organization_wrap .chart_bottom .first::before { content: ""; background-color: #999; height: 32.0%; padding: 0.1px; position: absolute; z-index: -9999; right: 50%;}
.organization_wrap .group > .left::before,
.organization_wrap .group > .left.last::before { content: ""; background-color: #999; width: 100%; padding: 0.1px; position: absolute; z-index: -9999; left: 64.5%; top: 50%;}
.organization_wrap .group > .left:last-child::before { width: 50%;  z-index: -9999; left: 30%;  top: 50%;}
.organization_wrap .group > .right::before { content: ""; background-color: #999; width: 100%; padding: 0.1px; position: absolute; z-index: -9999; right: 64.5%; top: 50%;}
.organization_wrap .leftline::before { content: ""; background-color: #999; width: 100%; padding: 0.1px; position: absolute; z-index: -9999; left: 64.5%; top: 50%;}
.organization_wrap .rightline::before { content: ""; background-color: #999; width: 100%; padding: 0.1px; position: absolute; z-index: -9999; right: 70%; top: 50%;}
.organization_wrap .chart_middle .group > .left.last::before { content: ""; background-color: #999; width: 100%; padding: 0.1px; position: absolute; z-index: -9999; left: 64.5%; top: 50%;}
.organization_wrap .bottom_chart>ul>li>.bg_red::before {content: ""; background-color: #999; height: 32px; padding: 0.1px; position: absolute; z-index: -9999; left: 50%; top: -32px;}
.organization_wrap .bottom_chart>ul::before { content: ""; background-color: #999; width: 83%; padding: 0.1px; position: absolute; z-index: -9999; left: 4%; top: -32px;}
.organization_wrap .center_chart_wrap ul .bottom_chart>ul::after {display:block; clear:both; content:""; background-color: #999; width: 50%; padding: 0.1px; position: absolute; z-index: -9999; right: 14.8%; top: -32px;}

.history .year {font-family:"Work Sans"; padding-top: 50px;font-size: 60px; font-weight: 900; letter-spacing: -2px;}
.history .desc {display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; font-size: 22px; font-weight: 600; letter-spacing: -1px;}
.history .desc .month {display: block; min-width: 80px; padding: 0 10px; margin-bottom: 5px; font-size: 16px; border: 1px solid #192b7d; border-radius: 100px}
.intro2imggap .intro2_txt {font-size: 40px; font-weight: 600; color: #fff; position: absolute; top: 50%; margin-top: -30px; left: 50%; margin-left: -330px;}
.icon_size25 {width: 25px;}
.img_photo1 {width: 100px; border-radius: 10px;}
.wrap_iconmsgsend .icon_msgsend {}
.wrap_iconmsgsend .txt {padding-top: 10px;font-size: 13px}
.infotype2 {}
.infotype2 .name {padding: 5px 0;font-size: 22px}
.infotype2 .name .desc {padding-left: 5px;font-size: 13px;}
.infotype2 .items {}
.infotype2 .items li {position: relative; padding-left: 12px; font-size: 15px;}
.infotype2 .items li:before {content:''; display:block; width: 3px; height: 3px; border-radius: 50%; background-color: #666; position: absolute; left:2px; top: 11px;}
.infotype3 li {position: relative; padding-left: 12px; padding-bottom: 8px; font-size: 15px;}
.infotype3 li:before {content:''; display:block; width: 3px; height: 3px; border-radius: 50%; background-color: #666; position: absolute; left:2px; top: 11px;}
.card-body .infotype2 {color: #222}
.pwd_desc {font-size: 13px; color: #666}
.accordion.plusicon .accordion-button::after {background: url("../img/common/icon_plus.png") 0 0 no-repeat; background-size: 100%; opacity: .5;}
.accordion.plusicon .accordion-button:not(.collapsed)::after {background: url("../img/common/icon_minus.png") 0 0 no-repeat; background-size: 100%;}
.statuscircle {position: relative; width: 150px; height: 150px; margin: 10px 0; padding: 52px 10px; text-align: center; border: 8px solid #bdbdbd; border-radius: 100px; font-size: 18px; font-weight: 600; color: #999}
.statuscircle.done {color: #192b7d; border-color: #192b7d;}
.statuscircle.ing {color: #e73728; border-color: #e73728; font-size: 22px}
.statuscircle.wait {color: #999; border-color: #bdbdbd;}
.bizstatus {width: 100%;}
.bizstatus ul {display: flex;align-items: center;justify-content: center;}
.bizstatus li {position: relative; padding-left: 85px;}
.bizstatus li:first-child {padding: 0;}
.bizstatus li:first-child::before {display: none;}
.bizstatus li::before {content:''; display: block; width: 27px; height: 46px; background: url("../img/common/icon_statusarrow.png") 0 0 no-repeat; background-size: 100%; opacity: .2; position: absolute; top: 50%; left: 30px; margin-top: -23px;}

.terms {}
.terms h4 {padding: 60px 0 0px;}
.terms h5 {padding: 30px 0 5px;}
.terms ol, .terms ul {padding-left: 20px;}

.dbinfoarea {}
.dbinfoarea .accordion-body {padding: 5px;background: #f3f3f3}
.dbinfoarea .searchoptionwrap {display: flex; flex-direction: row; flex-wrap: wrap;}
.dbinfoarea .searchoptionwrap li {width: 33.3%; font-size: 12px;}
.dbinfoarea .searchoptionwrap .searchoption {border: 0; background: none;}
.dbinfoarea .searchoptionwrap .searchoption .numtype {padding-left: 2px; color: #e73728; font-size: 11px; font-weight: 400;}
.dbinfoarea .accordion-item {border: 0; border-radius: 0; border-bottom: 1px solid #ccc;}
.dbinfoarea .accordion-item:first-of-type {border-top: 2px solid #555;}
/* .accordion-item:not(:first-of-type)  */

/* 연혁 */
#historyTab {display: flex; width: 100%;}
#historyTab li {width: 170px; height: 48px; margin-right: 10px; margin-bottom: 10px; background: #FAFAFA; }
#historyTab li a.nav-link {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; font-weight: 400; font-size: 18px; line-height: 28px; color: #737373;border: 0.1rem solid #DBDBDB; border-radius: 0.5rem;}
#historyTab li a.nav-link.active {background: #192b7d; border: none; color: #fff;}
/* 회원가입 순서 */
.memberjoin {width: 100%; margin-bottom: 40px;}
.memberjoin ul {display: flex;align-items: center;justify-content: center;}
.memberjoin li {position: relative; padding-left: 85px;}
.memberjoin li:first-child {padding: 0;}
.memberjoin li:first-child::before {display: none;}
.memberjoin li::before {content:''; display: block; width: 27px; height: 46px; background: url("../img/common/icon_statusarrow.png") 0 0 no-repeat; background-size: 100%; opacity: .2; position: absolute; top: 50%; left: 30px; margin-top: -23px;}
.memberjoin li .step {position: absolute; top: 35px; left: 50%; margin-left: -24px; font-size: 13px; color: #e73728; letter-spacing: -1px;}
.memberjoin li .done .step {color: #192b7d;}
.memberjoin li .wait .step {color: #999;}

.presswrap {}
.press-tit {padding: 25px 30px; margin-bottom: 40px; border: 1px solid #555; border-radius: 5px; text-align: center; background: #eee}
.press-desc {padding-bottom: 30px;}

.bizdirection {}
.bizdirection h4 {position: relative; padding-top: 10px; color: #555}
.bizdirection h4:before {content:''; display: block; width: 40px; height: 3px; background: #ccc; position: absolute; top: 0; left: 0; }
.bizdirection .box {border-radius: 20px; height: 90px; padding:0 20px; line-height: 90px; text-align: center;}
.bizdirection .box .txt {color:#fff; font-size: 18px; font-weight: bold;}
.bizdirection .box.type1 .txt {font-size: 22px}
.bizdirection .box.type1 {background: #7388ed}
.bizdirection .box.type2 {background: #f1877e}
.bizdirection .box4 {}
.bizdirection .box4 .row li {text-align: -webkit-center;}
.bizdirection .box4.type1 .txt {display: block; width: 200px; padding: 80px 10px; margin: 10px 0; font-size: 20px; font-weight: bold; border-radius: 100px; border: 5px solid #aaa; background: #fff; vertical-align: middle;}
.bizdirection .box4.type1 li:nth-child(1) .txt {border-color: #279ca7; background: #d2fbff; color: #279ca7}
.bizdirection .box4.type1 li:nth-child(2) .txt {border-color: #f9972e; background: #fff1e1; color: #f9972e}
.bizdirection .box4.type1 li:nth-child(3) .txt {border-color: #72af43; background: #f0ffe5; color: #72af43}
.bizdirection .box4.type1 li:nth-child(4) .txt {border-color: #4e7fb7; background: #e5f1ff; color: #4e7fb7}
.bizdirection .box4.type2 {}
.bizdirection .box4.type2 .txt {display: block; width: 200px; height: 109px; padding: 30px 10px; margin: 10px 0; font-size: 16px; font-weight: bold; border-radius: 20px; border: 3px solid #aaa; background: #fff; vertical-align: middle; word-break: keep-all;}
.bizdirection .box4.type2 li:nth-child(1) .txt {border-color: #1a6269; background: #279ca7; color: #fff}
.bizdirection .box4.type2 li:nth-child(2) .txt {border-color: #b06b20; background: #f9972e; color: #fff}
.bizdirection .box4.type2 li:nth-child(3) .txt {border-color: #446928; background: #72af43; color: #fff}
.bizdirection .box4.type2 li:nth-child(4) .txt {border-color: #263e5a; background: #4e7fb7; color: #fff}
.bizdirection .box1big {padding: 20px 30px; margin: 10px 0; font-size: 16px; font-weight: bold; border-radius: 20px; border: 5px solid #eee; background: #eee; }
.bizdirection .box1big li {padding-top: 5px;color: #555}
.bizdirection .box4.type3 .row li {text-align: -webkit-left;}
.bizdirection .box4.type3 ul {display: block; width: 200px; height: 200px; padding: 10px 10px; margin: 10px 0; font-size: 16px; border-radius: 20px; border: 2px solid #aaa; background: #fff; vertical-align: middle; word-break: keep-all;}
.bizdirection .box4.type3 ul.list_txt li:before {top:15px}
.bizdirection .box4.type3 .row div {text-align: -webkit-center;}
.bizdirection .box4.type3 .num {position: absolute; left:0; color: #33bac5; font-weight: bold;}
.bizdirection .box4.type3 li {position: relative; padding-left: 30px;}

.intro_list {}
.intro_list li .row {display: flex;flex-wrap: nowrap;}
.intro_list li .tit {display: inline-block; width: 45px}
.w50p {width: 50px}
.w100p {width: 100px}
.w150p {width: 150px}
.w250p {width: 250px}
.desc-box {
  padding: 10px 20px;
  font-size: 16px;
  background: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 5px;
}
.desc-box > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.desc-box-list {
  position: relative;
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
}
.desc-box-list::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 12px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #222;
}
.desc-box-list > span {
  font-weight: 500;
  color: #333;
}
.desc-box-list > p {
  margin-left: 10px;
  margin-bottom: 0;
  color: #555;
}

button.btntype {
  border: 0;
  background: none;
  font-size: 25px;
  padding: 0;
  margin-left: 5px;
}
/* jQuery UI ================================================== */
/* datepicker ========== */
.ui-datepicker {display:none; border:1px solid #DDD; border-radius:10px; background-color:#fff; padding:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px;}
.ui-datepicker .ui-datepicker-header {position:relative; text-align:center; margin:0 0 10px 0; border: 0; background: #fff;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {border: 1px solid #999;background-repeat:no-repeat; background-position:50% 50%; position:absolute; width:30px; height:30px; vertical-align:middle; text-indent:-9999em;border-radius: 6px;}
.ui-datepicker .ui-datepicker-prev {left:0; background-image:url('../img/icons/arr_lf_6.png');}
.ui-datepicker .ui-datepicker-next {right:0; background-image:url('../img/icons/arr_rg_6.png');}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {background-image: none; text-indent:-9999rem;}
.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; font-size:1.125rem; text-align:center;}
.ui-datepicker table {width:100%; border-collapse:collapse; font-size:0.8125rem; font-weight:normal; text-align:center;}
.ui-datepicker th {font-family:'Noto Sans KR'; font-weight:normal; padding:.7em .3em; border:0;}
.ui-datepicker td {border:0; padding:5px 0; text-align:center; font-weight:normal;}
.ui-datepicker th:first-child, .ui-datepicker td:first-child {padding-left:0;}
.ui-datepicker th:last-child, .ui-datepicker td:last-child {padding-right:0;}
.ui-datepicker td span, .ui-datepicker td a {display:inline-block; width:30px; height:30px; line-height:30px; cursor:pointer;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {border:0; background: #fff;text-align: center;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-state-highlight, .ui-widget-content .ui-state-highlight {border:0; background-color:#00a1c3; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; color:#fff; font-weight:bold;}
.ui-state-disabled, .ui-widget-content .ui-state-disabled {opacity:.5; filter:Alpha(Opacity=5);}
.ui-datepicker-trigger {display:inline-block; box-sizing:border-box; border-radius:4px; border:1px solid #DDD; background:#FFF url("../img/icons/calendar.png") no-repeat center center; width:40px; height:40px; margin-left:5px; text-indent:-9999em; vertical-align:middle;}
/* 웹접근성 : 달력 레이어 팝업 2020.10 */
.ui-datepicker .ui-datepicker-title select {font-size: 18px; border:0; padding:0; margin-top: -4px; background:none}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {padding-left: 5px;}
.ui-datepicker-buttonpane {text-align: center}
.ui-datepicker-current {display:none}
.ui-datepicker-close {padding: 0 10px; border-radius: 10px;}

.tag-veiw {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -.5px;
  background: #FFFFFF;
  border: 1px solid #334597;
  color: #334597;
}
.mypagehome {}
.mypagehome .card-body {padding: 30px}
.mypagehome .iconbox {position: absolute; top:50%; right:30px; width: 100px; height: 100px; margin-top: -50px; border-radius: 100%; border: 1px solid #eee; background: #fff}
.mypagehome .iconbox .icon_mymemclass {display: inline-block; width: 70px; height: 70px; background: url("../img/common/icon_mymemclass.png") 0 0 no-repeat; background-size: 100%; position: absolute; top: 14px; right: 14px;}
.mypagehome .iconbox .icon_mymemclassfee {display: inline-block; width: 70px; height: 70px; background: url("../img/common/icon_mymemclassfee.png") 0 0 no-repeat; background-size: 100%; position: absolute; top: 14px; right: 14px;}

.careerinfo .d-flex {flex-wrap: wrap;}
.wrapinfoline {padding: 20px 15px; margin: 15px 0; background-color: #fff; border-radius: 15px; border: 1px solid #235dab; opacity: .9;} 
.wrapinfogray {padding: 10px 0px; margin: 15px 0; background-color: #e7f1ff; border-radius: 15px; opacity: .9;}
.infotype1 {display: flex; flex-wrap: wrap; width: 100%; margin: 0;}
.infotype1 .tit {width: 70px; color: #555}
.infotype1 .desc {width: 70%;}
.wrapinfogray .infotype1 .tit {width: 90px;}
.popbodyhead {padding-bottom: 10px; text-align: center; letter-spacing: -1px; word-break: keep-all;}
.popbodydesc {position: relative; display: block; padding-left: 28px; letter-spacing: -1px; word-break: keep-all;}
.popbodydesc:before {content:'※'; display: block; position: absolute; left: 2px;}
.mainpopinfo .modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
  background: #fff4f0 url('../img/common/pop_bg1.jpg') 0 0;
  border: 4px solid #235dab;
  border-radius: 30px;
}