.call-to-action {background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url(../img/common/img_center.jpg) center center;
    background-size: cover;
    padding: 100px 0;}
.footer .footer-links ul a {color: rgba(255, 255, 255, 0.95);}
.footer .footer-links ul li {padding: 5px 0;}
.services .card {border-radius: 30px}
.round30 {border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
.navbar {}
.navbar a, .navbar a:focus {color: rgba(255, 255, 255, 0.95);}
.hero .stats-item span:after {background: white;}
.hero .info h2:after,
.section-header h2:after,
.section-header h2:before {display: none}
.hero form .form-control {padding: 12px 20px 14px;}
.hero .info h2 {margin-bottom: 0;}
.hero {color: #fff}
.sns_top a {color: #fff}
.bar_top {display: block; position: absolute; top: 55px; left: 50%; margin-left: -960px; width: 1920px; height: 2px; z-index: 2;}
.bar_top:before {content:''; display: block; width: 100%; height: 2px; background: url('../img/common/bar_top.png');}
.bar_mid {display: block; position: absolute; top: 78px; left: 50%; margin-left: -960px; width: 1920px; height: 4px; z-index: 2;}
.bar_mid:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_mid.png');}
.bar_100 {display: block; position: absolute; top: 158px; left: 50%; margin-left: -960px; width: 1920px; height: 4px; z-index: 2;}
.bar_100:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_100.jpg');}
.bar_left {display: block; position: absolute; top: 80px; left: 50%; margin-left: -960px; width: 838px; height: 4px; z-index: 2;}
.bar_left:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_left.jpg');}
.bar_left.type1 {top: 1020px; left: 50%; margin-left: -960px;}
.bar_right {display: block; position: absolute; top: 548px; right: 50%; margin-right: -960px; width: 838px; height: 4px; z-index: 2;}
.bar_right:before {content:''; display: block; width: 100%; height: 4px; background: url('../img/common/bar_right.jpg');}
.order-lg-first h3.position-absolute {top: -50px}
#service {padding-top: 0;}
.txtcolor4 {color: #33bac5}
.txtcolor5 {color: #192b7d}
.txtcolor6 {color: #e73728}
.hero .carousel-item::before {background-color: rgba(0, 0, 0, 0.1);}
.font14 {font-size: 14px !important}

.logoSwiper {width: 100%;}
.logoSwiper .swiper-slide {display: inline-block; width: 25%;}
.logoSwiper .swiper-slide a {display: block;}
.logoSwiper .swiper-slide a img {width: 100%;}

@media screen and (max-width: 768px) {
    .bar_top {display: none;}
    .header {position: fixed;}
    /* .hero {padding: 180px;} */
    .hero .info {position: relative; padding: 0 10px}
    .hero .carousel {position: absolute; top:0;min-height: 132vh;}
    .logo {padding-left: 10px;}
    .hero form .form-control {padding: 0 10px}
    #hero img {width:100%}
    .visual-wrap {margin-top: 120px;}
    .navbar a {justify-content: initial;}
    .navbar ul {}
    .navbar .container > .row > .col.ps-5 > ul {padding-top: 100px;}
    .navbar .container > .row > .col.gnb-r .justify-content-end {display: flex; width: 100%; height: 70px; padding-top: 10px; margin-top: 40px;;}
    .navbar .container > .row > .col.gnb-r .justify-content-end li {list-style-type: none;}
    .num-title img {width: 100%}
    #about .num-title img,
    #service .num-title img {width:60%}
    #about .bar_mid {width: 100%; top: 8%; margin-left: -47%;}
    #service .bar_100 {width: 100%; top: 4.6%; margin-left: -47%;}
    #features .bar_left {width: 100%; top: 3.2%; margin-left: -53%;}
    #features .bar_right {width: 100%; top: 35.1%; margin-right: -53%;}
    #features .bar_left.type1 {top:67.3%; margin-left: -53%;}
    .footer {padding: 0 5px;}
    .navbar .container > .row > .col.ps-5 a i, .navbar .container > .row > .col.ps-5  a:focus i {position: absolute; right: 30px}
  }
  
/* content */
.tbllist thead th {padding: 10px 20px; text-align: center; font-size: 14px; color: #999; border-top: 2px solid #555}
.tbllist th {padding: 18px 20px; font-size: 14px; color: #999; line-height: 24px; text-align: center; vertical-align: middle;}
.tbllist td {padding: 18px 20px; font-size: 14px; color: #222; line-height: 24px; vertical-align: middle;}
.tbllist td a {color: #222}
.btn + .btn {margin-left: 5px;}
.tbldetail {border-top: 2px solid #555;}
.tbldetail .tbltit {padding: 18px 20px; font-size: 14px; color: #222; line-height: 24px;}
.tbldetail .tbldesc {padding: 28px 20px; font-size: 14px; color: #555; line-height: 24px;}
.tbldetail .thumimg img {width: 100%}
.imgbbs .tit {font-weight: 700; font-size: 18px; color: #001973;}
.imgbbs .card-text {font-size: 14px}

/* 
컬러값
red: #e73728
blue: #192b7d
sky: #33bac5
*/
.bg-gradient-primary {background-image: linear-gradient(195deg, #85dce3 0%, #20c5d4 100%); color: #fff;}
.bg-gradient-secondary {background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%); color: #fff;}
.bg-gradient-info {background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%); color: #fff;}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  background-color: #192b7d;
  border-color: #192b7d;
  box-shadow: 0 14px 26px -12px rgba(40, 30, 233, 0.4), 0 4px 23px 0 rgba(33, 30, 233, 0.15), 0 8px 10px -5px rgba(30, 33, 233, 0.2);
}

.btn-primary .btn.bg-outline-primary,
.btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #192b7d;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#192b7d);
  background-color: #192b7d;
}

.btn-primary.focus,
.btn-primary:focus,
.btn.bg-gradient-primary.focus,
.btn.bg-gradient-primary:focus {
  color: #fff;
}

.btn-outline-primary {
  box-shadow: none;
}

.btn-outline-primary:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #192b7d;
}

.btn-secondary,
.btn.bg-gradient-secondary {
  box-shadow: 0 3px 3px 0 rgba(123, 128, 154, 0.15), 0 3px 1px -2px rgba(123, 128, 154, 0.2), 0 1px 5px 0 rgba(123, 128, 154, 0.15);
}

.btn-secondary:hover,
.btn.bg-gradient-secondary:hover {
  background-color: #7b809a;
  border-color: #7b809a;
  box-shadow: 0 14px 26px -12px rgba(123, 128, 154, 0.4), 0 4px 23px 0 rgba(123, 128, 154, 0.15), 0 8px 10px -5px rgba(123, 128, 154, 0.2);
}

.btn-secondary .btn.bg-outline-secondary,
.btn.bg-gradient-secondary .btn.bg-outline-secondary {
  border: 1px solid #7b809a;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle,
.btn.bg-gradient-secondary:not(:disabled):not(.disabled).active,
.btn.bg-gradient-secondary:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-secondary.dropdown-toggle {
  color: color-yiq(#7b809a);
  background-color: #7b809a;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn.bg-gradient-secondary.focus,
.btn.bg-gradient-secondary:focus {
  color: #fff;
}

.btn-outline-secondary {
  box-shadow: none;
}

.btn-outline-secondary:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #7b809a;
}

.btn-success,
.btn.bg-gradient-success {
  box-shadow: 0 3px 3px 0 rgba(76, 175, 80, 0.15), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.15);
}

.btn-success:hover,
.btn.bg-gradient-success:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.4), 0 4px 23px 0 rgba(76, 175, 80, 0.15), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-success .btn.bg-outline-success,
.btn.bg-gradient-success .btn.bg-outline-success {
  border: 1px solid #4CAF50;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle,
.btn.bg-gradient-success:not(:disabled):not(.disabled).active,
.btn.bg-gradient-success:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-success.dropdown-toggle {
  color: color-yiq(#4CAF50);
  background-color: #4CAF50;
}

.btn-success.focus,
.btn-success:focus,
.btn.bg-gradient-success.focus,
.btn.bg-gradient-success:focus {
  color: #fff;
}

.btn-outline-success {
  box-shadow: none;
}

.btn-outline-success:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #4CAF50;
}

.btn-info,
.btn.bg-gradient-info {
  box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15), 0 3px 1px -2px rgba(26, 115, 232, 0.2), 0 1px 5px 0 rgba(26, 115, 232, 0.15);
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  background-color: #1A73E8;
  border-color: #1A73E8;
  box-shadow: 0 14px 26px -12px rgba(26, 115, 232, 0.4), 0 4px 23px 0 rgba(26, 115, 232, 0.15), 0 8px 10px -5px rgba(26, 115, 232, 0.2);
}

.btn-info .btn.bg-outline-info,
.btn.bg-gradient-info .btn.bg-outline-info {
  border: 1px solid #1A73E8;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle,
.btn.bg-gradient-info:not(:disabled):not(.disabled).active,
.btn.bg-gradient-info:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-info.dropdown-toggle {
  color: color-yiq(#1A73E8);
  background-color: #1A73E8;
}

.btn-info.focus,
.btn-info:focus,
.btn.bg-gradient-info.focus,
.btn.bg-gradient-info:focus {
  color: #fff;
}

.btn-outline-info {
  box-shadow: none;
}

.btn-outline-info:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #1A73E8;
}

.btn-warning,
.btn.bg-gradient-warning {
  box-shadow: 0 3px 3px 0 rgba(251, 140, 0, 0.15), 0 3px 1px -2px rgba(251, 140, 0, 0.2), 0 1px 5px 0 rgba(251, 140, 0, 0.15);
}

.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00;
  box-shadow: 0 14px 26px -12px rgba(251, 140, 0, 0.4), 0 4px 23px 0 rgba(251, 140, 0, 0.15), 0 8px 10px -5px rgba(251, 140, 0, 0.2);
}

.btn-warning .btn.bg-outline-warning,
.btn.bg-gradient-warning .btn.bg-outline-warning {
  border: 1px solid #fb8c00;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle,
.btn.bg-gradient-warning:not(:disabled):not(.disabled).active,
.btn.bg-gradient-warning:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-warning.dropdown-toggle {
  color: color-yiq(#fb8c00);
  background-color: #fb8c00;
}

.btn-warning.focus,
.btn-warning:focus,
.btn.bg-gradient-warning.focus,
.btn.bg-gradient-warning:focus {
  color: #fff;
}

.btn-outline-warning {
  box-shadow: none;
}

.btn-outline-warning:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #fb8c00;
}

.btn-danger,
.btn.bg-gradient-danger {
  box-shadow: 0 3px 3px 0 rgba(244, 67, 53, 0.15), 0 3px 1px -2px rgba(244, 67, 53, 0.2), 0 1px 5px 0 rgba(244, 67, 53, 0.15);
}

.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  background-color: #F44335;
  border-color: #F44335;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 53, 0.4), 0 4px 23px 0 rgba(244, 67, 53, 0.15), 0 8px 10px -5px rgba(244, 67, 53, 0.2);
}

.btn-danger .btn.bg-outline-danger,
.btn.bg-gradient-danger .btn.bg-outline-danger {
  border: 1px solid #F44335;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle,
.btn.bg-gradient-danger:not(:disabled):not(.disabled).active,
.btn.bg-gradient-danger:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-danger.dropdown-toggle {
  color: color-yiq(#F44335);
  background-color: #F44335;
}

.btn-danger.focus,
.btn-danger:focus,
.btn.bg-gradient-danger.focus,
.btn.bg-gradient-danger:focus {
  color: #fff;
}

.btn-outline-danger {
  box-shadow: none;
}

.btn-outline-danger:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #F44335;
}

.btn-light,
.btn.bg-gradient-light {
  box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2), 0 1px 5px 0 rgba(240, 242, 245, 0.15);
}

.btn-light:hover,
.btn.bg-gradient-light:hover {
  background-color: #f0f2f5;
  border-color: #f0f2f5;
  box-shadow: 0 14px 26px -12px rgba(240, 242, 245, 0.4), 0 4px 23px 0 rgba(240, 242, 245, 0.15), 0 8px 10px -5px rgba(240, 242, 245, 0.2);
}

.btn-light .btn.bg-outline-light,
.btn.bg-gradient-light .btn.bg-outline-light {
  border: 1px solid #f0f2f5;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle,
.btn.bg-gradient-light:not(:disabled):not(.disabled).active,
.btn.bg-gradient-light:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-light.dropdown-toggle {
  color: color-yiq(#f0f2f5);
  background-color: #f0f2f5;
}

.btn-outline-light {
  box-shadow: none;
}

.btn-outline-light:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #f0f2f5;
}

.btn-dark,
.btn.bg-gradient-dark {
  box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
  background-color: #344767;
  border-color: #344767;
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.btn-dark .btn.bg-outline-dark,
.btn.bg-gradient-dark .btn.bg-outline-dark {
  border: 1px solid #344767;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark.dropdown-toggle {
  color: color-yiq(#344767);
  background-color: #344767;
}

.btn-dark.focus,
.btn-dark:focus,
.btn.bg-gradient-dark.focus,
.btn.bg-gradient-dark:focus {
  color: #fff;
}

.btn-outline-dark {
  box-shadow: none;
}

.btn-outline-dark:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #344767;
}

.btn-white,
.btn.bg-gradient-white {
  box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.15), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.15);
}

.btn-white:hover,
.btn.bg-gradient-white:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.4), 0 4px 23px 0 rgba(255, 255, 255, 0.15), 0 8px 10px -5px rgba(255, 255, 255, 0.2);
}

.btn-white .btn.bg-outline-white,
.btn.bg-gradient-white .btn.bg-outline-white {
  border: 1px solid #fff;
}

.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active,
.show>.btn-white.dropdown-toggle,
.btn.bg-gradient-white:not(:disabled):not(.disabled).active,
.btn.bg-gradient-white:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-white.dropdown-toggle {
  color: color-yiq(#fff);
  background-color: #fff;
}

.btn-outline-white {
  box-shadow: none;
}

.btn-outline-white:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #fff;
}

.btn-dark-blue,
.btn.bg-gradient-dark-blue {
  box-shadow: 0 3px 3px 0 rgba(26, 35, 126, 0.15), 0 3px 1px -2px rgba(26, 35, 126, 0.2), 0 1px 5px 0 rgba(26, 35, 126, 0.15);
}

.btn-dark-blue:hover,
.btn.bg-gradient-dark-blue:hover {
  background-color: #1A237E;
  border-color: #1A237E;
  box-shadow: 0 14px 26px -12px rgba(26, 35, 126, 0.4), 0 4px 23px 0 rgba(26, 35, 126, 0.15), 0 8px 10px -5px rgba(26, 35, 126, 0.2);
}

.btn-dark-blue .btn.bg-outline-dark-blue,
.btn.bg-gradient-dark-blue .btn.bg-outline-dark-blue {
  border: 1px solid #1A237E;
}

.btn-dark-blue:not(:disabled):not(.disabled).active,
.btn-dark-blue:not(:disabled):not(.disabled):active,
.show>.btn-dark-blue.dropdown-toggle,
.btn.bg-gradient-dark-blue:not(:disabled):not(.disabled).active,
.btn.bg-gradient-dark-blue:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-dark-blue.dropdown-toggle {
  color: color-yiq(#1A237E);
  background-color: #1A237E;
}

.btn-dark-blue.focus,
.btn-dark-blue:focus,
.btn.bg-gradient-dark-blue.focus,
.btn.bg-gradient-dark-blue:focus {
  color: #fff;
}

.btn-outline-dark-blue {
  box-shadow: none;
}

.btn-outline-dark-blue:hover:not(.active) {
  background-color: transparent;
  opacity: .75;
  box-shadow: none;
  color: #1A237E;
}

.btn-outline-white {
  border-color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
}

.btn-primary,
.btn.bg-gradient-primary {
  color: #fff;
  background-color: #192b7d;
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
  color: #fff;
}

.btn-secondary,
.btn.bg-gradient-secondary {
  color: #fff;
}

.btn-secondary:hover,
.btn.bg-gradient-secondary:hover {
  color: #fff;
}

.btn-danger,
.btn.bg-gradient-danger {
  color: #fff;
}

.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  color: #fff;
}

.btn-info,
.btn.bg-gradient-info {
  color: #fff;
}

.btn-info:hover,
.btn.bg-gradient-info:hover {
  color: #fff;
}

.btn-success,
.btn.bg-gradient-success {
  color: #fff;
}

.btn-success:hover,
.btn.bg-gradient-success:hover {
  color: #fff;
}

.btn-warning,
.btn.bg-gradient-warning {
  color: #fff;
}

.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  color: #fff;
}

.btn-dark,
.btn.bg-gradient-dark {
  color: #fff;
}

.btn-dark:hover,
.btn.bg-gradient-dark:hover {
  color: #fff;
}

.btn-light,
.btn.bg-gradient-light {
  color: #3A416F;
}

.btn-light:hover,
.btn.bg-gradient-light:hover {
  color: #3A416F;
}

.accordion-item .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);}
.accordion-button:not(.collapsed) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion-button:not(.collapsed) {background-color: #fff;}
.accordion-body .desc {padding: 0px 20px 20px 20px; margin: 0; background-color: #f9f9f9; border-radius: 8px; line-height: 2.0;}
.faq-txtq, 
.faq-txta {padding-right: 8px;font-size: 2.2rem}
.faq-txtq {color: #ccc}
.faq-txtq.type1 {font-size: 18px; color: #fff; background-color: #192b7d; padding: 2px 7px; margin-right: 5px; border-radius: 50%;}
.accordion-button:not(.collapsed) .faq-txtq {color: #192b7d}
.accordion-button:not(.collapsed) .accordion-button::after {color: #fff}
.faq-txta {color: #e73728}
.fa.fa-question-circle {margin-right: 5px; color: #33bac5}
.fa.fa-reply.icon {margin: 0 5px 0 30px; color: #e73728}
.fa.fa-reply.icon.type1 {color: #192b7d}
.fa {font-size: 12px;}
.fa.fa-reply.icon:before {padding-right: 5px;}
.album .card {border-color: #eee}
.badge {font-size: 13px;}
.bg-primary {
  background-color: #192b7d !important;
}
.bg-outline-primary {
  background-color: #fff;
  border: 1px solid #192b7d;
  color: #192b7d;
}
.bg-secondary {
  background-color: #33bac5 !important;
}
.bg-outline-secondary {
  background-color: #fff;
  border: 1px solid #33bac5;
  color: #33bac5;
}
.bg-warning {
  background-color: #e73728 !important;
}
.bg-outline-warning {
  background-color: #fff;
  border: 1px solid #e73728;
  color: #e73728;
}
.page-link {}
.page-item .page-link, .page-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b809a;
  padding: 0;
  margin: 0 3px;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  font-size: .875rem;
}
.table-hover>tbody>tr:hover>* {}
.active>.page-link, .page-link.active {background-color: #192b7d; border-color: #192b7d; color: #fff;}
.page-item:first-child .page-link,
.page-item:last-child .page-link {background-color: rgb(240, 240, 240); border: 0;}
.page-item:not(:first-child) .page-link {}
.table.tblphototype {}
.tbldetail.tblphototype {border: 0}
.tbldetail.tblphototype .tbltit td {font-size: 20px; vertical-align: bottom; word-break:keep-all;}
.tbldetail.tblphototype .tbltit .date {font-size: 15px}
.tbldetail.tblphototype .tbldesc {border-top: 2px solid #555;}
.tbldetail .tbldesc td {border-color: #ccc; font-size: 16px}

.tbllist {border-top: 2px solid #555;}
.tbllist thead .box {}
.tbllist thead .num {}
.tbllist thead .cate {}
.tbllist thead .subject {text-align: center;}
.tbllist thead .info {}
.tbllist thead .info .cate {}
.tbllist thead .info .date {}
.tbllist .box {text-align: center; font-size: 16px}
.tbllist .num {}
.tbllist .cate {}
.tbllist .subject {text-align: left;font-size: 18px;}
.tbllist .info {}
.info .cate {display: none;}
.tbllist .info .date {}
caption {display: none}
.tbldetail .tbltit .box .subject {font-size: 18px;}
.tblinfo thead {border-bottom: 2px solid #555;}
.required, textarea.required {
  background-image: url("../img/common/require.png") !important;
  background-repeat: no-repeat !important;
  background-position: right top !important;
}
.msg_sound_only, .sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important;
}
.tooltip_icon {
  display: inline-block;
  vertical-align: baseline;
  color: #b3b5b8;
  border: 0;
  font-size: 1.4em;
  background: transparent;
  cursor: pointer;
}
#captcha #captcha_mp3 {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/common/captcha2.png") no-repeat;
  text-indent: -999px;
  border-radius: 3px;
}
#captcha #captcha_reload {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/common/captcha2.png") no-repeat 0 -40px;
  text-indent: -999px;
  border-radius: 3px;
}
.donemsg {}
.donemsg .tit {padding: 15px; font-size: calc(1.375rem + 1.2vw); line-height: 1.4; color: #e73728;}
.donemsg .desc {margin: 0;}
.doneinfo {padding: 20px; margin-top: 20px; background-color: #f8f9fa; border-radius: 10px;}
.doneinfo ul {margin: 0;}
.doneinfo li {}
.breadcrumbs nav {padding: 14px 0; background-color: #2ac8d5;}
.breadcrumbs nav ol {}
.breadcrumbs nav ol a,
.breadcrumbs nav ol li+li {color: #fff; font-weight: bold}
.breadcrumbs nav ol li+li::before {padding-right: 5px; color: #fff; font-weight: 100;}
.breadcrumbs nav ol li+li {padding-left: 7px; letter-spacing: -1px;}
.breadcrumbs nav ol li:first-child {position: relative;}
.breadcrumbs nav ol li:first-child::before {content:'';position: absolute; left: 0; top: 5px; width: 16px; height:14px; background: url('../img/common/icon_homelocation.png') 0 0 no-repeat; background-size: 100%;}
.breadcrumbs nav ol li:first-child a {padding-left: 20px;}
.icon_homeheader {display: inline-block; width: 15px; height:13px; margin-right: 3px; background: url('../img/common/icon_homelocation.png') 0 0 no-repeat; background-size: 100%;}
.services .card a.stretched-link {font-weight: 700; letter-spacing: -1px;}
.breadcrumbs .page-header h2 {font-size: 38px}
.breadcrumbs .page-header:before {background-color: rgba(0, 0, 0, 0.75);}
.header-subtit {display: inline-block; padding: 7px 40px 3px; margin-bottom: 10px; border: 2px solid #fff; border-radius: 50px; letter-spacing: -2px;}
.content-subtit {display: inline-block; padding: 8px 20px; color: #fff; font-size: 18px; font-weight: bold; border-radius: 50px; background-color: #33bac5; letter-spacing: -2px;}
.sub_subjecttit {padding-bottom: 50px;font-size: 36px; font-weight: 900; background-color: #2ac8d4; color: #fff; letter-spacing: -2px;}
.sub_subjecttit.pink {color: #fc7e74}
.sitemaplist .row>* {padding-left: 2px; padding-right: 2px;}
.sitemaplist .tit {padding: 12px 0; margin-bottom: 5px; background: #192b7d; border-radius: 8px; text-align: center; font-size: 18px; font-weight: 900; color: #fff;}
.sitemaplist ul {padding: 10px 20px; background: #ebebeb; border-radius: 8px;}
.sitemaplist ul li {list-style: none;}
.sitemaplist ul li a {display: block; color: #000; font-size: 15px; font-weight: bold; padding: 5px 0;}
.contenttab {}
.contenttab .nav-tabs {border: 0;}
.contenttab .nav-tabs .nav-item {width: 20%; text-align: center; background: #dddcdc; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.contenttab .nav-tabs .nav-item a {color: #b1aeae; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;}
.contenttab .nav-tabs .nav-item.show .nav-link, .contenttab .nav-tabs .nav-link.active {background: #fc7e74; color: #fff; border: 0; border-top-left-radius: 0; border-top-right-radius: 0;}
.contenttab .nav-tabs .nav-link {}
.pic_ceo {}
.greeting {letter-spacing: -1px;}
.greeting .ceoname {padding-left: 5px;font-size: 22px;}
.sub_txt1 {}
.intro2imggap {padding: 50px 0}
.intro3imggap {padding: 50px 0}
.mobiledisnone {display: block;}
.bizlist {padding: 40px 0;}
.bizlist .tit {padding: 12px 0; margin: 0; background: #2ac8d5; border-top-left-radius: 8px; border-top-right-radius: 8px; text-align: center; font-size: 18px; font-weight: bold; color: #fff;}
.bizlist ul {padding: 10px 20px; background: #dbd9d8; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.bizlist ul li {list-style: none;color: #000; font-size: 13px; padding: 2px 0;}
